# Compiled Object files
*.o

# Compiled Dynamic libraries
*.so
*.so.*

# Compiled Static libraries
*.a
*.lib

# Executables
*.out

# CMake
*.cmake
CMakeCache.txt
Makefile
CMakeFiles/

# Debian
*.debhelper
*.debhelper.*
build-stamp
configure-stamp
*.substvars
debian/*/

# Other
install_manifest.txt
ctsced
